/* ============================================================
MAIN FOOTER
============================================================  */
.primary-footer {
	color: #648880;
	font-size: 15px;
	padding-bottom: 45px;
	padding-top: 45px;
}

.primary-footer small {
	float: left;
	font-weight: 500;
}

/* ============================================================
END MAIN FOOTER
============================================================  */
