/* ============================================================
MAIN HEADER
============================================================  */
.logo {
	font-size: 50px;
	font-weight: 100;
	letter-spacing: .5px;
	line-height: 45px;
	float: left;
	border-top: 4px solid #00C3E3;
	padding: 40px 0 22px 0;
	text-transform: uppercase;
}

/* class="tagline" In header H3 Element */
.tagline {
	text-align: right;
	margin: 65px 0 20px 0;
}

/* class="primary-nav" In header NAV Element */
.primary-navi {
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: .81px;
}
/* ============================================================
END MAIN HEADER
============================================================  */
